main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
}
h1 {
  color: orangered;
}

main p{
  color: orangered;
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  list-style-type: none;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}
header li img{
  border-radius: 30px;
}


footer{
  border: thin solid black;
}
